extends layout

block content
    main
        .main-content
            header.main-header
                h1= "Choose a " + category.name
                p.description= category.description
            section.catalog-list 
                .component-row
                    h2 Name 
                    h2 Manufacturer 
                    h2 Stock 
                    h2 Price
                each component in components 
                    .component-row 
                        h2
                            if (component.name.length > 36) 
                                a.name.highlight(href=component.url) #{component.name.slice(0, 36) + "..."} 
                            else 
                                a.name.highlight(href=component.url) #{component.name}
                        h2
                            a.name.highlight(href=component.manufacturer.url) #{component.manufacturer.name}
                        h2 #{component.stock}
                        h2 $#{component.price}
                        button.button.add-button(data-categoryid=component.category._id data-partid=component._id) Add
        
      
    include footer.pug

    script(src="/javascripts/addButton.js")