extends layout

block content
  main
    .main-content
      header.main-header
        h1= title
        h1= cookies
      - totalPrice = 0
      section.list 
        .row
          h2 Category 
          h2 Component 
          h2 Price 
          h2 Purchase
          h2 Remove
        each category in categories 
          - let key = category._id 
          - let component = null 
          if (userList[key]) 
            - component = userList[key]
            - totalPrice += component.price
          if (component) 
            .row 
              h2 
                a.name.highlight(href=category.url) #{category.name}
              h2 
                if (component.name.length > 36) 
                  a.name.highlight(href=component.url) #{component.name.slice(0, 36) + "..."} 
                else 
                  a.name.highlight(href=component.url) #{component.name}
              h2= component.stock  
              h2= component.price
              button.button.remove-button(data-removekey=component.category._id) Remove
          else 
            .row 
              h2
                a.name(href=category.url) #{category.name}
              h2 
                a.choose-category(href=category.url) + Choose a #{category.name}
              h2
              h2 
        .total-row 
          h2 Total Price: $
            span= totalPrice  
          
        
      
  include footer.pug

  script(src="/javascripts/removeButton.js")