extends layout

block content
  main
    .main-content
      header.main-header
        h1= title

      section.list 
        .row
          h2 Category 
          h2 Component 
          h2 Price 
          h2 Purchase
        each category in categories 
          .row 
            h2
              a.name(href=category.url) #{category.name}
            h2 
              a.choose-category(href=category.url) + Choose a #{category.name}
            h2
            h2 
        
      
  include footer.pug