extends layout

block content
    main
        .main-content
            header.main-header
                h1= manufacturer.name
                p.description= manufacturer.description
            section.catalog-list 
                .component-row
                    h2 Name 
                    h2 Category 
                    h2 Stock 
                    h2 Price
                    h2
                each component in components 
                    .component-row 
                        h2
                            if (component.name.length > 36) 
                                a.name.highlight(href=component.url) #{component.name.slice(0, 36) + "..."} 
                            else 
                                a.name.highlight(href=component.url) #{component.name}
                        h2
                            a.name(href=component.category.url) #{component.category.name}
                        h2 #{component.stock}
                        h2 $#{component.price}
                        button.button.add-button(data-categoryid=component.category._id data-partid=component._id) Add
        
      
    include footer.pug

    script(src="/javascripts/addButton.js")